<ul class="faq-paginator">
  <f:if condition="{pagination.previousPageNumber} && {pagination.previousPageNumber} >= {pagination.firstPageNumber}">
    <li class="previous">
      <a href="{f:uri.action(action:actionName, arguments:{currentPage: pagination.previousPageNumber})}" title="{f:translate(key:'pagination.previous')}">
        {f:translate(key:'pagination.previous',extensionName:'rd_faq')}
      </a>
    </li>
  </f:if>
  <f:if condition="{pagination.hasLessPages}">
    <li>…</li>
  </f:if>
  <f:for each="{pagination.allPageNumbers}" as="page">
    <li class="{f:if(condition: '{page} == {paginator.currentPageNumber}', then:'current')}">
      <a href="{f:uri.action(action:actionName, arguments:{currentPage: page})}">{page}</a>
    </li>
  </f:for>
  <f:if condition="{pagination.hasMorePages}">
    <li>…</li>
  </f:if>
  <f:if condition="{pagination.nextPageNumber} && {pagination.nextPageNumber} <= {pagination.lastPageNumber}">
    <li class="next">
      <a href="{f:uri.action(action:actionName, arguments:{currentPage: pagination.nextPageNumber})}" title="{f:translate(key:'pagination.next',extensionName:'rd_faq')}">
        {f:translate(key:'pagination.next',extensionName:'rd_faq')}
      </a>
    </li>
  </f:if>
</ul>